@using LearnBlazor.Components
@using Microsoft.AspNetCore.Components.Web

<h1>@header</h1>
<div class="container">
    <p class="alert">@info</p>

    <input placeholder="Родительский инпут" id="useAge" @attributes="Attr" />

    <div class="row">
        <Counter />
        <CallBacked Callback="@Alert" />
    </div>

    <div class="row">
        <Templated Items="@Attr.ToList()">
            <Header>
                Захоловок
            </Header>
            <Main Context="property">
                <span><b>@property.Key</b>:<i> @property.Value</i></span>
            </Main>
            <Footer>
                @DateTime.Now.Year  - це настоящее
            </Footer>
        </Templated>
        <Data Count="@users.Count()" Users="@users" @attributes="Attr" Max="45">
            <div>
                <h3>Отрывок</h3>
                <p>Высокой страсти не имея</p>
                <p>Для звуков жизни не щадить,</p>
                <p>Не мог он ямба от хорея,</p>
                <p>Как мы ни бились, отличить.</p>
            </div>
        </Data>
    </div>

    <div class="row">
        <CssEditor />
        <Collapsed />
    </div>
    <div @key="@buttonText" class="row">
        <MyButton Text="@buttonText" Click="ClickButton" />
    </div>
</div>